.grid-aside-basket-wrap {
    margin-bottom: clamp-px(48, 80);
}


.grid-aside-basket-wrap__container {
    display: grid;
    grid-template-columns: minmax(1px, 975px) minmax(1px, 465px);
    gap: 20px;
    justify-content: space-between;

    @include respond-to("nout") {
        display: flex;
        flex-direction: column;
    }
}

.basket__product-box {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: clamp-px(48, 80);

    @include respond-to("nout") {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        scroll-snap-type: x mandatory;
        overflow-x: auto;
        // -----цвет скрола
        scrollbar-color: var(--orange) transparent;
        scrollbar-width: thin;
        padding-bottom: 10px;
    }
}

.basket__product-item {
    border-radius: clamp-px(12, 24);
    padding: clamp-px(16, 20);
    height: auto;
    background: var(--white);
    display: flex;
    flex-wrap: wrap;
    position: relative;

    @include respond-to("nout") {
        flex: 0 0 280px;
        scroll-snap-align: start;
    }

}

.basket__product-item-img {
    border-radius: clamp-px(8, 16);
    width: clamp-px(80, 220);
    height: clamp-px(80, 220);
    background: var(--bg-3);
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

    @include respond-to("nout") {
        margin-bottom: 16px;

        &>img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: contain;

        }
    }


}

.basket__product-item-text-box {
    flex: 1 1 auto;
    max-width: 410px;
    display: flex;
    flex-direction: column;
    margin-left: clamp-px(10, 36);
    margin-right: 20px;

    @include respond-to("nout") {
        margin-left: 0;
        margin-right: 0;
        padding-bottom: 20px;
    }
}

.basket__product-item-title {
    font-family: var(--second-family);
    font-weight: 500;
    font-size: clamp-px(16, 20);
    line-height: 140%;
    color: #111827;
    margin-bottom: clamp-px(12, 24);
}

.basket__product-item-properties-box {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.basket__product-item-properties-row {
    display: flex;
    gap: 12px;

    @include respond-to("nout") {
        flex-direction: column;
        gap: 2px;
    }
}

.basket__product-item-properties-name {
    flex: 0 1 calc((100% - 12px * 1) / 2);
    max-width: 120px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: clamp-px(13, 16);
    line-height: 150%;
    color: var(--grey);
}

.basket__product-item-properties-val {
    flex: 1 1 calc((100% - 12px * 1) / 2);
    font-family: var(--font-family);
    font-weight: 400;
    font-size: clamp-px(14, 16);
    line-height: 150%;
    color: var(--grey-2);
}

.basket__product-item-price-box {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    text-align: right;

    @include respond-to("nout") {
        margin-left: 0;
        flex-direction: row;
        padding-top: 20px;
        border-top: 1px solid var(--bg);
        align-items: center;
        gap: 8px;
    }
}

.basket__product-item-price {
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 24px;
    line-height: 133%;
    color: #111827;
    margin-bottom: 10px;

    @include respond-to("nout") {
        margin-bottom: 0;
    }
}

.basket__product-item-sale {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--orange);
    margin-bottom: 10px;

    @include respond-to("nout") {
        margin-bottom: 0;
    }
}

.basket__product-item-price-old {
    font-family: var(--third-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-decoration: line-through;
    color: var(--grey);
}

.del {
    position: absolute;
    bottom: 26px;
    right: 26px;

    @include respond-to("nout") {
        bottom: auto;
        right: 16px;
        top: 16px;
    }
}

.basket-title {
    position: relative;
    width: fit-content;

    &>span {
        position: absolute;
        right: -26px;
        top: 0;
        font-family: var(--second-family);
        font-weight: 500;
        font-size: clamp-px(16, 28);
        line-height: 121%;
        color: var(--grey);
    }
}

.basket-reference {
    border-radius: clamp-px(16, 20);
    padding: clamp-px(20, 32);
    background: var(--white);
    display: flex;
    flex-direction: column;
    margin-bottom: 12px;

    & .form-agree-box {
        margin: 0;
    }
}

.basket-reference__header {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    padding-bottom: 24px;
    border-bottom: 1px solid #ebedf3;
    margin-bottom: clamp-px(16, 24);
}

.basket-reference__total {
    font-family: var(--second-family);
    font-weight: 500;
    font-size: clamp-px(16, 24);
    line-height: 133%;
    color: #111827;
}

.basket-reference__header-price {
    font-family: var(--second-family);
    font-weight: 500;
    font-size: clamp-px(24, 32);
    line-height: 112%;
    color: #111827;
}

.basket-reference__services {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: clamp-px(24, 32);
}

.basket-reference__services-row {
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

.basket-reference__services-name {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: clamp-px(15, 18);
    line-height: 156%;
    color: var(--grey-2);

    &>.count {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: clamp-px(15, 18);
        line-height: 156%;
        color: var(--grey);
        margin-left: 16px;
    }
}



.basket-reference__services-val {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: clamp-px(15, 18);
    line-height: 156%;
    text-align: right;
    color: var(--black);
}

.basket-reference__craft-box {
    border-radius: 12px;
    padding: clamp-px(12, 16) clamp-px(16, 20);
    background: var(--bg-3);
    // display: flex;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: clamp-px(13, 16);
    line-height: 150%;
    color: var(--grey-2);
    margin-bottom: 20px;

    &>.day {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: clamp-px(16, 20);
        line-height: 150%;
        color: var(--black);
    }

    &>.date {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: clamp-px(16, 20);
        line-height: 150%;
        color: var(--grey);
    }
}




.basket-reference__btn {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
}

.aside-block-basket {
    position: sticky;
    top: 110px;
}

.basket-attention {
    border-radius: clamp-px(16, 20);
    padding: clamp-px(20, 32);
    background: var(--white);
    display: flex;
    flex-direction: column;
    gap: 17px;
}

.basket-attention__title {
    font-family: var(--second-family);
    font-weight: 500;
    font-size: clamp-px(18, 20);
    line-height: 140%;
    color: var(--black);
}

.basket-attention__link {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: clamp-px(16, 18);
    line-height: 156%;
    color: var(--grey-2);
    display: flex;
    align-items: center;
    gap: 8px;
}

.basket-main-col__title {
    font-family: var(--second-family);
    font-weight: 500;
    font-size: clamp-px(28, 40);
    line-height: 120%;
    color: var(--black);
    margin-bottom: clamp-px(20, 32);
}

.basket__product-order {
    border-radius: clamp-px(16, 24);
    background: var(--white);
    padding: clamp-px(24, 48) clamp-px(20, 40);
}

.basket__order-recipient {
    display: flex;
    flex-direction: column;
    padding-bottom: clamp-px(24, 48);
    border-bottom: 2px solid var(--bg-3);
    margin-bottom: clamp-px(24, 48);
}

.basket__order-title {
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 28px;
    line-height: 121%;
    color: #111827;
    margin-bottom: clamp-px(20, 24);
}

.basket-form {
    display: flex;
    flex-direction: column;
    gap: clamp-px(20, 24);
}

.basket__order-address {
    display: flex;
    flex-direction: column;
    padding-bottom: clamp-px(24, 48);
    border-bottom: 2px solid var(--bg-3);
    margin-bottom: clamp-px(24, 48);
}

.basket__order-payment {
    padding-bottom: clamp-px(24, 48);
    border-bottom: 2px solid var(--bg-3);
    margin-bottom: clamp-px(24, 48);
}

.basket__order-extra {}

.order-address-tab,
.order-payment-tab {
    & .tabs__title-box {
        gap: 12px;
        margin-bottom: 24px;
    }

    .tabs__title {
        background: var(--bg-2);
        border-radius: clamp-px(8, 10);
        padding: clamp-px(8, 10) clamp-px(14, 18);
        border: none;
        font-family: var(--font-family);
        font-weight: 400;
        font-size: clamp-px(15, 18);
        line-height: 156%;
        color: var(--black);

        &.active {
            color: var(--white);
            background: var(--black);
        }
    }

    & .tabs__item.active {
        display: flex;
        flex-direction: column;
    }
}

.order-map {
    border-radius: clamp-px(12, 20);
    width: 100%;
    height: 320px;
    position: relative;

    &>img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: clamp-px(12, 20);
    }
}

.attention {
    border-radius: clamp-px(8, 10);
    padding: clamp-px(8, 10) clamp-px(10, 18);
    background: var(--bg-4);
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: clamp-px(24, 32);
    font-family: var(--font-family);
    font-weight: 400;
    font-size: clamp-px(15, 18);
    line-height: 156%;
    color: var(--black);
}

p.strong {
    font-family: var(--second-family);
    font-weight: 500;
    font-size: clamp-px(16, 18);
    line-height: 156%;
    color: var(--black);
    margin-bottom: 12px;
}

.order-extra__box {
    display: flex;
    flex-direction: column;
    gap: 22px;
}

.order-extra__row {
    display: flex;
    gap: clamp-px(12, 24);
}

.order-extra__item-price {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: clamp-px(15, 20);
    line-height: 150%;
    color: var(--orange);
}

.basket-sticky-block {
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 -8px 16px 0 rgba(35, 14, 7, 0.06);
    background: var(--white);

    &.hidden {
        opacity: 0;
        overflow: hidden;
    }

    @include respond-to("nout") {
        display: flex;

    }
}

.basket-sticky-block__container {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 20px;

    & .basket-reference__header {
        padding-bottom: 0;
        border: none;
        margin-bottom: 12px;
    }

    & .basket-reference__btn {
        margin-bottom: 0;
    }
}