.news-detail__date {
    font-weight: 400;
    font-size: 18px;
    line-height: 156%;
    color: var(--grey-1);
}

.grid-right-col-wrap {
    margin-bottom: clamp(3.5rem, 2.2593052109rem + 5.2936311001vw, 7.5rem);
}

.grid-right-col {
    display: grid;
    grid-template-columns: minmax(600px, 928px) minmax(280px, 440px);
    gap: clamp(1.25rem, 0.7071960298rem + 2.3159636063vw, 3rem);
    justify-content: space-between;
}

.left-content {}

.aside-wrap {}

.news-aside{
    border-radius:clamp-px(16,24);
padding:clamp-px(20,28);
width: 440px;
height: 498px;
background: var(--bg-3);
}

.news-aside__title{
    font-family: var(--second-family);
font-weight: 500;
font-size:clamp-px(20,28);
line-height: 121%;
color: var(--black);
margin-bottom: clamp-px(20,24);
}

.news-aside__card-box {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.news-aside__card {
    display: flex;
    gap: 18px;
}
.news-aside__card-img {
    border-radius: 12px;
padding: 32px;
width:clamp-px(86,100);
height: clamp-px(86,100);
}