.grid-aside {
    background: var(--bg-2);

}

.grid-aside__container {
    display: grid;
    grid-template-columns: minmax(280px, 377px) minmax(700px, 1059px);
    gap: 20px;
    justify-content: space-between;
    padding: clamp-px(20, 40) 0;

    @include respond-to("nout") {
        display: flex;
        flex-direction: column;
    }
}

.aside {}

.aside-block {
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    padding: 20px;
    background: var(--white);
}

.personal-row {
    display: flex;
    flex-direction: column;
    gap: 8px;
    background: var(--bg-4);
    border-radius: 16px;
    padding: 16px 20px;
    margin-bottom: 16px;
}

.personal-name {
    font-weight: 500;
    font-size: 24px;
    line-height: 133%;
    color: var(--orange);
}

.personal-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--grey-2);
}

.my-orders {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 24px;

    &>span {
        font-weight: 400;
        font-size: 18px;
        line-height: 156%;
        color: var(--black);
    }
}

.my-reviews {
    display: flex;
    align-items: center;
    gap: 12px;

    &>span {
        font-weight: 400;
        font-size: 18px;
        line-height: 156%;
        color: var(--black);
    }
}

.main-col {
    display: flex;
    flex-direction: column;
}

.personal-main-up-row {
    margin-bottom: 16px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    padding: 32px;
    background: var(--white);
}

.personal-main-up-row__name-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 20px;
}

.personal-main-up-row__name {
    font-weight: 500;
    font-size: clamp-px(24, 32);
    line-height: 112%;
    color: #111827;
}

.btn-arrow_exit-lk {
    background-color: transparent;
    color: var(--orange);
    padding: 0;

    &:hover {
        background-color: transparent;
    }
}

.personal-main-up-row__contact-box {
    display: flex;
    flex-wrap: wrap;
    gap: clamp-px(15, 30);
}

.personal-main-up-row__contact-box__item {
    display: flex;
    gap: 8px;

    &>a {
        font-weight: 400;
        font-size: clamp-px(16, 18);
        line-height: 156%;
        color: var(--grey-2);
    }
}

.change-data {}

.personal-main-down-row {
    border-radius: 20px;
    padding: 32px;
    background: var(--white);
    margin-bottom: 20px;
}

.personal-del-account {
    margin-top: auto;
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 400;
    font-size: clamp-px(16, 18);
    line-height: 156%;
    color: var(--grey-2);
}

.personal-main-down-row-title {
    font-weight: 500;
    font-size: clamp-px(20, 24);
    line-height: 133%;
    color: #111827;
    margin-bottom: clamp-px(20, 24);
}

.personal-main-down-row-box {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    justify-content: space-between;

    @include respond-to("tab") {
        flex-direction: column;
        // gap: ;
    }


}

.personal-main-down-row-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.personal-main-down-row-list-title {
    font-weight: 400;
    font-size: clamp-px(16, 18);
    line-height: 156%;
    color: #000;
    margin-bottom: 8px;
}

.custom-checkbox {
    cursor: pointer;
}

.check-box {
    cursor: pointer;
}

.main-col {
    & .filter-box {
        margin-bottom: 24px;

        & .filter-item {
            background: var(--white);

            &.active {
                background: var(--black);
            }
        }
    }
}

.order-product-header {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 20px;
    justify-content: space-between;
    padding-bottom: 28px;
    border-bottom: 1px solid #ebedf1;
    margin-bottom: clamp-px(24, 34);

    & .form__feedback-order-block-article {
        display: flex;
        align-items: center;
        gap: 5px;
    }

    .basket__product-item-title {
        margin-bottom: 0;
    }
}

// .order-product-header__left-col {
//     display: flex;
//     flex-wrap: wrap;
// }

.basket__product-item-price {
    & span {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: clamp-px(15, 18);
        line-height: 156%;
        color: var(--grey);
        margin-right: 16px;
    }
}

.order__product-item__status {
    border-radius: 6px;
    padding: 8px 10px;
    background: var(--bg-3);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 157%;
    color: var(--grey-2);
}

// .order-product-header__left-col-text {
//     display: flex;
//     flex-wrap: wrap;
// }

.order-product-header__left-col-text-col {
    display: flex;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap-reverse;
}

.order-product-main {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.order-product-main-info-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    margin-bottom: clamp-px(28, 48);
}

.order-product-main-name {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: right;
    color: var(--grey-2);
    text-align: left;
}

.order-product-main-type {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--grey);
}

.order-product-main__bottom {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;

    & .form__feedback-order-block-info-img {
        background: var(--bg-3);
    }
}


.order-product-main {
    & .reviews-prev__card-rating {
        margin-bottom: 24px;
    }
}