.grid-left-col.percent_50 {
    grid-template-columns: minmax(300px, 726px) minmax(300px, 726px);
}

.project-detail__gallery-box {
    display: flex;
    flex-direction: column;
    gap: 20px;

    &.hidden {
        @include respond-to("nout") {
            display: none;
        }
    }
}

.project-detail__gallery-main-img {
    width: 100%;
    // height: 520px;
    aspect-ratio: 1/0.78;
    border-radius: 24px;
    position: relative;
    overflow: hidden;

    &>img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 24px;
    }
}

.project-detail__gallery-prev-box {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.project-detail__gallery-prev-item {
    width: clamp-px(56, 120);
    height: clamp-px(56, 120);
    border-radius: 12px;
    position: relative;
    overflow: hidden;
    opacity: 0.5;
    transition: 0.3s;
    cursor: pointer;

    &.active {
        opacity: 1;
        transition: 0.3s;
    }

    &:hover {
        opacity: 1;
        transition: 0.3s;
    }

    &>img {
        border-radius: 12px;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.right-content {
    & h1 {
        font-family: var(--second-family);
        font-weight: 500;
        font-size: clamp-px(32, 56);
        line-height: 107%;
        color: var(--black);
        margin-bottom: clamp-px(20, 32);
    }
}

.properties-box {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
    margin-bottom: clamp-px(24, 32);
}

.properties__item {
    flex: 0 1 auto;
    display: flex;
    align-items: center;
    gap: 8px;
    border-radius: 10px;
    padding: 10px 18px;
    background: var(--white);
}

.project-detail__slider-wrap.mob {
    display: none;

    @include respond-to("nout") {
        display: block;
    }
}

.project-detail__slide-img-wrap {
    position: relative;
    border-radius: clamp-px(16, 24);
    height: 359px;
    width: 100%;

    @include respond-to("tel") {
        height: 259px;
    }

    &>img {
        border-radius: clamp-px(16, 24);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}