.steps {

    background: var(--bg-2);
}

.steps__container {
    padding-bottom: clamp(3.5rem, 2.2447698745rem + 5.3556485356vw, 7.5rem);
    display: flex;
    flex-direction: column;
}

.steps__title {
    margin-top: clamp(0.5rem, 0.3430962343rem + 0.6694560669vw, 1rem);
    margin-bottom: clamp(1.5rem, 1.0292887029rem + 2.0083682008vw, 3rem);
}

.steps__card-box {
    counter-reset: count;
    gap: 20px;
}

.steps__card {
    display: flex;
    flex-direction: column;
    background: var(--white);
    border-radius: clamp-px(16, 24);
    padding: clamp-px(20, 32);
    max-width: 360px;
    min-height: 436px;

    &:nth-child(4) {
        background: linear-gradient(135deg, #ff8259 0%, #f46f43 100%);

        & .steps__card-count {

            &::before {
                color: var(--white);
            }
        }

        & .steps__card-title {
            color: var(--white);
        }

        & .steps__card-text {
            color: var(--white);
        }

        & .steps__card-time {
            color: var(--white);
        }
    }

    @include respond-to("tab") {
        max-width: 270px;
        min-height: 368px;
    }
}

.steps__card-count {
    counter-increment: count 1;
    margin-bottom: clamp-px(24, 32);

    &::before {
        content: "[ ""0"counter(count) " ]";
        font-family: var(--font-family);
        font-weight: 500;
        font-size: clamp-px(16, 20);
        line-height: 140%;
        color: var(--orange);
    }
}

.steps__card-title {
    font-weight: 500;
    font-size: clamp-px(20, 28);
    line-height: 121%;
    color: var(--black);
    margin-bottom: clamp-px(12, 16);
    max-width: 200px;
}

.steps__card-text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: clamp-px(16, 18);
    line-height: 156%;
    color: var(--grey-1);
    margin-bottom: 20px;
}

.steps__card-time {
    margin-top: auto;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: clamp-px(16, 18);
    line-height: 156%;
    color: var(--orange);
}